@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #00415e;
  --background-start-rgb: #4fa7ff;
  --background-end-rgb: #8fd5ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #00415e;
    --background-start-rgb: #4fa7ff;
    --background-end-rgb: #8fd5ff;
  }
}

body {
  height: 100%;
  margin: 0;
}